# Python / Django
__pycache__/
*.py[cod]
*.sqlite3
db.sqlite3
*.log
*.pot
*.pyc
env/
venv/
ENV/
*.env
*.local
instance/
.mypy_cache/
.pytest_cache/
coverage.xml
*.cover
*.db
.DS_Store

# Django migrations
**/migrations/
!*/migrations/__init__.py

# Django static/media
staticfiles/
media/

# Seguridad
.env
.env.*

# VS Code
.vscode/

# React (Vite o CRA)
node_modules/
dist/
build/
npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn.lock

# Archivos temporales del sistema
*.swp
*~
.idea/
*.iml
*.sublime-workspace
*.sublime-project
