@import url('https://fonts.googleapis.com/css2?family=Jockey+One&display=swap');

.perfil-container {
  background-color: #ffffff;
  padding: 5rem;
  max-width: 600px;
  margin: 9rem auto;
  font-family: 'Jockey One', sans-serif;
  border-radius: 10px;
  box-shadow: 0 0 50px rgba(0, 0, 0, 0.1);
}

.perfil-title {
  font-size: 5rem;
  margin-top: 0rem;
  margin-bottom: 1rem;
  text-align: center;
  color: #30B95D;
}

.perfil-form label {
  display: block;
  margin-bottom: 0.3rem;
  font-size: 2rem;
  color: #333;
}

.perfil-form input {
  width: 100%;
  padding: 0.6rem;
  border: 2px solid #000;
  border-radius: 4px;
  margin-bottom: 1.2rem;
  background-color: #ffffff;
  color: #000;
  font-size: 1.3rem;
}

.perfil-form button {
  background-color: #30B95D;
  border: 2px solid #000;
  color: white;
  padding: 0.6rem 1.2rem;
  margin-top: 1.2rem;
  border-radius: 4px;
  font-size: 1.5rem;
  cursor: pointer;
  transition: 0.2s ease-in-out;
}

.perfil-form button:hover {
  background-color: #28a44e;
}

.perfil-msg {
  color: green;
  text-align: center;
  margin-bottom: 1rem;
}

.perfil-error {
  color: red;
  text-align: center;
  margin-bottom: 1rem;
}
